
.text{
   height: 60px;
    font-size: medium;
    display: flex;
    /* flex-direction: column; */
    margin-top: 40px;
    gap: 15px;
    justify-content: center;
}

.text h4{
font-family:Tahoma;
background-color: #F5F5F5;
font-size: large;
width: 90%;
padding: 10px 30px;
display: flex;
align-items: center;
color: #40679E;
font-weight: bold;
}

.themmoi{
    margin-top: 20px;
    background: #F5F5F5;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid #F5F5F5;
    width: 90%;
    margin: 30px auto;
    gap: 200px;
    padding: 50px;
    border-radius: 5px;
}


.them {
width: 300px;
display: flex;
flex-direction: column;
gap: 50px;
color:#40679E;
font-weight: 700;

}
.thema{
    display: flex;
   flex-direction: column;
    gap: 5px;
    font-size: large;
}
.thema>span{
    font-family: Tahoma;
}

input[type="text" i] {
height: 40px;
border: 1px solid #40679E;
border-radius: 3px;
color: black;
width: 350px;
}


input[type="date" i] {
    height: 40px;
    border: 1px solid #40679E;
    border-radius: 3px;
    color: black;
    width: 350px;
    }

.thema>select{
    height: 40px;
    border: 1px solid #40679E;
    border-radius: 3px;
    width: 350px;
}

.luulai{
display: flex;
gap: 40px;
justify-content: center;
align-items: center;
padding: 10px 20px;

}

.luulai input, .luulai button{
    margin-top: 10px;
width: 80px;
padding: 5px 10px;
color: brown;
background-color: #BAD7E9;
border: 1px solid white;
font-weight: bolder;
border-radius: 3px;
font-size: large;

}
